<%= form_for(@mds_file) do |f| %>
  <% if @mds_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mds_file.errors.count, "error") %> prohibited this mds_file from being saved:</h2>

      <ul>
      <% @mds_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
